 <configuration debug="true">

<include resource="org/springframework/boot/logging/logback/base.xml" />

<appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
    <endpointUrl>https://logs-01.loggly.com/inputs/10cf6329-47e9-409f-bb00-ff2b467a0dc8/tag/logback</endpointUrl>
    <pattern>%d{"ISO8601", UTC}  %p %t %c{0}.%M - %m%n</pattern>
</appender>

<appender name="logglyAsync" class="ch.qos.logback.classic.AsyncAppender">
    <apprender-ref ref="loggly"/>
</appender>

<root level="info">
    <appender-ref ref="loggly" />
</root>
</configuration>